# s3/boto, let aiobotocore decide botocore/boto3/awscli versions
aiobotocore[boto3,awscli]==0.11.1
python-dateutil==2.8.0
matplotlib
click
scikit-image
ruamel.yaml
jupyter
folium
packaging
gdal
# git+git://github.com/sat-utils/sat-search@0.3.0-b2
sat-search==0.2.2

--extra-index-url="https://packages.dea.ga.gov.au"
datacube[performance,s3]
odc-apps-cloud[GCP,THREDDS]
odc-apps-dc-tools
odc-index
